.search-button {
  padding: 6px;
}

.beer-list-item {
  cursor: pointer;
}

.beer-title {
  font-size: 40px;
}

.beer-subtitle {
  padding-top: 20px;
  font-size: 20px;
}

.beer-image {
  max-height: 250px;
  padding: 30px;
}

.beer-ingredient {
  display: block;
}
