.header-container {
  .navbar {
    border-bottom: 3px solid #ff5252;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logo {
  display: block;
  padding-top: 18px;
  font-size: 24px !important;
  color: #ff5252 !important;
  font-family: "Patua One", cursive;
}
