.page-item:not(.disabled) {
  cursor: pointer;
}

.pagination-info-label {
  padding-right: 15px;
  padding-top: 5px;
}

.page-item.active .page-link {
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
}
.page-item:not(.active):not(.disabled) .page-link{
  color: #ff5252 !important;
}
